.headerOuter {
  width: 100vw;
  height: 60px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.heroOuter {
  margin-top: 60px;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.HeroInner {
  width: 1500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroleft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
}
.heroleft h1 {
  font-size: 2.5vw;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.heroleft h2 {
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: 6px;
  margin-bottom: 10px;
}
.heroleft p {
  font-size: 1vw;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 4px;
}
.heroleft button {
  width: 10vw;
  height: 55px;
  background-color: #000;
  margin-top: 10px;
  color: #fff;
  font-size: 1vw;
  letter-spacing: 2px;
  border: none;
}

.heroright {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroright img {
  width: 32vw;
  height: auto;
}
.main {
  position: relative;
}
.StyleSwitch_Wrapper {
  position: fixed;
  top: 300px;
  right: -250px;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.StyleSwitch_Wrapper .left {
  width: 50px;
  height: 50px;
  background-color: #646161;
  display: flex;
  align-items: center;
  justify-content: center;
}
.StyleSwitch_Wrapper .right {
  width: 250px;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: #fff;
}
.StyleSwitch_Wrapper .right p {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #8b8888;
}
.colorWrapper {
  width: 100%;
  height: 50%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.colorWrapper div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.AboutOuter {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.AboutInner {
  width: 1500px;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header1 {
  text-align: center;
  width: 150px;
  padding: 5px;
  font-size: 20px;
}
.header2 {
  text-align: center;
  font-size: 40px;
  margin-top: 18px;
}
.aboutUsContentWrapper {
  width: 100%;
  display: flex;
}
.aboutUsContentWrapper .left {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 40px;
}
.aboutUsContentWrapper .right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header3 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}
.header3 span {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.aboutmeText {
  margin-top: 18px;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 2rem;
  text-align: justify;
}
.expText {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 4px;
}
.expText span {
  font-weight: 800;
}
.expCirlce {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.expCirlce span {
  font-size: 16rem;
  font-family: pop;
}
.infoContainer {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoDiv {
  display: flex;
  flex-direction: column;
}
.downArrow {
  position: absolute;
  top: calc(90vh - 50px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  animation: jumpInfinite 1.5s infinite;
}
.downArrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  transform: rotateZ(45deg);
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
@media screen and (max-width: 1500px) {
  .HeroInner {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .heroright img {
    width: 40vw;
    height: auto;
  }
  .AboutInner {
    width: 100vw;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .heroleft h1 {
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 10px;
  }
  .heroleft h2 {
    font-size: 6.5vw;
    font-weight: 600;
    letter-spacing: 6px;
    margin-bottom: 10px;
  }
  .heroleft p {
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 4px;
  }
  .heroleft button {
    width: 15vw;
    height: 55px;
    background-color: #000;
    margin-top: 10px;
    color: #fff;
    font-size: 1.4vw;
    letter-spacing: 2px;
    border: none;
  }
}

@media screen and (max-width: 1000px) {
  .HeroInner {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .heroleft {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    order: 2;
  }
  .heroright {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    margin-top: 60px;
  }
  .heroleft h1 {
    font-size: 4.5vw;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 15px;
  }
  .heroleft h2 {
    font-size: 6vw;
    font-weight: 600;
    letter-spacing: 6px;
    margin-bottom: 15px;
  }
  .heroleft p {
    font-size: 2.5vw;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 4px;
  }
  .heroleft button {
    width: 35vw;
    height: 50px;
    background-color: #000;
    margin-top: 10px;
    color: #fff;
    font-size: 3vw;
    letter-spacing: 2px;
    border: none;
  }
  .aboutUsContentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutUsContentWrapper .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
  }
  .aboutUsContentWrapper .right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .expText {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .heroOuter {
    margin-top: 60px;
    width: 100vw;
    height: 83vh;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }
  .heroright {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    margin-top: 5px;
  }
  .heroright img {
    width: 80vw;
    height: auto;
  }
  .HeroInner {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .heroleft {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: center;
    align-items: center;
    order: 2;
  }
  .heroleft h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 10px;
  }
  .heroleft h2 {
    font-size: 10vw;
    font-weight: 600;
    letter-spacing: 6px;
    margin-bottom: 10px;
  }
  .heroleft p {
    font-size: 3.5vw;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 4px;
  }
  .downArrow {
    position: absolute;
    top: calc(83vh - 60px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    animation: jumpInfinite 1.5s infinite;
  }
  .infoContainer {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .header3 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .aboutmeText {
    margin-top: 18px;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 2rem;
    text-align: justify;
  }
}
